 <aside th:includes='aside' class="sidebar">
     <div class="scrollbar-inner sidebar-wrapper">
         <div class="user">
             <div class="photo">
                 <img src="assets/img/profile.jpg">
             </div>
             <div class="info">
                 <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                     <span>
                        <span th:text="${username}"></span>
                         <span class="user-level">Administrator</span>
                         <span class="caret"></span>
                     </span>
                 </a>
                 <div class="clearfix"></div>

                 <div class="collapse in" id="collapseExample" aria-expanded="true">
                     <ul class="nav">
                         <li>
                             <a href="#profile">
                                 <span class="link-collapse">My Profile</span>
                             </a>
                         </li>
                         <li>
                             <a href="#edit">
                                 <span class="link-collapse">Edit Profile</span>
                             </a>
                         </li>
                         <li>
                             <a href="#settings">
                                 <span class="link-collapse">Settings</span>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
         <ul class="nav">
             <li class="nav-item active">
                 <a th:href="${(#mvc.url('FC#adminHome')).build()}">
                     <i class="la la-dashboard"></i>
                     <p>Dashboard</p>
                 </a>
             </li>
             <li class="nav-item">
                 <a th:href="${(#mvc.url('FC#userManager')).build()}">
                     <i class="la la-table"></i>
                     <p>User Manager</p>
                 </a>
             </li>
         </ul>
     </div>
 </aside>