<header th:includes="header">
    <div class="main-header">
        <div class="logo-header">
            <a th:href="${(#mvc.url('FC#adminHome')).build()}" class="logo">
                Admin Dashboard
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <div th:replace="includes/nav :: nav">
            <!-- nav top bar include -->
        </div>
    </div>
    <div th:replace="includes/aside :: aside">
        <!-- aside include -->
    </div>
</header>